.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px auto;
  border-radius: 8px;
  background: var(--welcome-card-bg);
  font-size: 48px;
  font-weight: 900;
  line-height: 130%;
  > .icon {
    width: 128px;
    height: 128px;
  }
  > .title1 {
    color: var(--welcome-card-text-green);
  }
  > .title2 {
    color: var(--welcome-card-text-yellow);
  }
  > .title3 {
    color: var(--welcome-card-text-blue);
  }
  > .title4 {
    color: var(--welcome-card-text-pink);
  }
  > .content {
    font-size: 24px;
    line-height: 35px;
    color: var(--welcome-text-black);
  }
}

.actions {
  position: fixed;
  z-index: var(--z-index-bottom-nav);
  background: var(--welcome-bg);
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--welcome-nav-height);
  padding: 0 16px;
  padding-bottom: var(--welcome-nav-gap);
  font-size: 24px;
  font-weight: bold;
  color: var(--welcome-text-black);
  > .fake {
    visibility: hidden;
  }
  > a {
    padding: 8px;
  }
  > a:hover {
    background-color: var(--welcome-button-hover);
    border-radius: 8px;
  }
}
