.details {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: monospace;
  padding: 16px;
  border: 4px solid var(--inputPad-button-border);
  border-radius: 10px;
  background: var(--inputPad-button-bg);
  > .date {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    color: var(--date-text);
    .icon {
      width: 24px;
      height: 24px;
    }
  }
  > .amount {
    font-size: 32px;
    color: var(--amount-text);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  > button {
    width: 25%;
    height: 64px;
    font-size: 24px;
    font-weight: 500;
    border: 4px solid var(--inputPad-button-border);
    border-radius: 10px;
    background: var(--inputPad-button-bg);
  }
}
