.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 8px;
  padding: 16px;
  border: 4px solid var(--inputPad-button-border);
  border-radius: var(--button-radius);
  height: 128px;
  font-weight: bold;
  font-family: monospace;
  background: var(--inputPad-button-bg);

  > .date {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    color: var(--date-text);

    > .icon {
      margin: 0 6px 0 4px;
      width: 24px;
      height: 24px;
    }
  }

  > .amount {
    height: 32px;
    font-size: 32px;
  }

  > .expensesAmount {
    color: var(--theme-color-red);
  }

  > .incomeAmount {
    color: var(--theme-color-green);
  }
}

.buttons {
  display: grid;
  grid-template-areas:
    "n1 n2 n3 d"
    "n4 n5 n6 c"
    "n7 n8 n9 s"
    "n0 n0 nd s";
  grid-auto-rows: 64px;
  grid-auto-columns: 1fr;
  flex-wrap: wrap;
  margin: 4px;

  > button {
    font-size: 24px;
    font-weight: bold;
    border: 4px solid var(--inputPad-border);
    border-radius: var(--button-radius);
    color: var(--inputPad-text);

    &:nth-child(1) {
      grid-area: n1;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(2) {
      grid-area: n2;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(3) {
      grid-area: n3;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(4) {
      grid-area: n4;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(5) {
      grid-area: n5;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(6) {
      grid-area: n6;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(7) {
      grid-area: n7;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(8) {
      grid-area: n8;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(9) {
      grid-area: n9;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(10) {
      grid-area: n0;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(11) {
      grid-area: nd;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(12) {
      grid-area: d;
      background: var(--inputPad-button-bg);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:nth-child(13) {
      grid-area: c;
      background: var(--inputPad-button-bg);
    }
    &:nth-child(14) {
      grid-area: s;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .delete {
    height: 35px;
  }

  .ok {
    height: 50px;
  }

  .expensesButton {
    background: var(--theme-color-red);
  }

  .incomeButton {
    background: var(--theme-color-green);
  }
}
