.wrapper {
  padding: 16px;

  > .total {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    border-radius: var(--button-radius);
    color: var(--total-text);
    background: var(--total-bg);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    > li {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 16px;
      font-weight: bold;
      color: var(--text-color-black);

      > .expensesBalance {
        font-size: 18px;
        color: var(--theme-color-red);
      }

      > .expensesBalance::before {
        content: "-";
      }

      > .incomeBalance {
        font-size: 18px;
        color: var(--theme-color-green);
      }

      > .incomeBalance::before {
        content: "+";
      }
    }
  }

  > .listWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > .export {
      width: 100%;
      height: 10px;
      border-radius: var(--button-radius);
      background: var(--text-color-black);
    }

    > .list {
      background: var(--bg-color-white);
      margin-top: -5px;
      width: calc(100% - 16px);
      border-radius: 0 0 var(--button-radius) var(--button-radius);
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

      > li {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 12px 8px;

        > .sign {
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 8px;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background: var(--bg-color-grey);
        }

        > .text {
          margin-right: 4px;
          margin-left: 4px;
          flex-grow: 1;
          flex-shrink: 1;

          > .tagAndAmount {
            display: flex;
            justify-content: space-between;

            > .tag {
              color: var(--list-tag-text);
            }

            > .amount {
              font-weight: bold;
            }
          }

          > .time {
            margin-top: 4px;
            color: var(--list-time-text);
          }
        }
      }

      > li:not(:last-child) {
        border-bottom: 1px dashed var(--button-border-color);
      }
    }
  }

  .expenses {
    font-size: 18px;
    color: var(--theme-color-red);
  }
  .expenses::before {
    content: "-";
  }

  .income {
    font-size: 18px;
    color: var(--theme-color-green);
  }
  .income::before {
    content: "+";
  }

  > .more {
    padding: 16px;
    text-align: center;
    font-weight: bold;

    > .loadMore {
      border: none;
      color: var(--text-color-black);
      background: var(--bg-color-grey);
    }

    > .noMore {
      color: var(--text-color-muted);
    }
  }
}

.icon {
  width: 128px;
  height: 128px;

  &_wrapper {
    padding: 120px 0;
  }
}

.button {
  width: 100%;

  &_wrapper {
    padding: 16px 32px;
  }
}

.customize_tips {
  margin-top: -100px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--text-color-muted);
}
