.icon {
  position: relative;
  top: 1px;
  width: 30px;
  height: 30px;
}

.title {
  margin-left: 8px;
}

.mask {
  position: fixed;
  left: 0;
  top: var(--top-safe-area-height);
  width: 100%;
  height: calc(100% - var(--top-safe-area-height));
  background: var(--overlay-mask-bg);
  z-index: calc(var(--z-index-overlay) - 1);
}

.overlay {
  position: fixed;
  left: 0;
  top: var(--top-safe-area-height);
  width: 16em;
  height: calc(100% - var(--top-safe-area-height));
  color: var(--text-color-black);
  background: var(--overlay-bg);
  z-index: var(--z-index-overlay);

  > .currentUserWrapper {
    background: var(--bg-color-grey);

    > .currentUser {
      margin: 16px;
      padding: 16px;
      border-radius: var(--button-radius);
      color: var(--overlay-user-text);
      background: var(--overlay-user-bg);

      .email {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .subtext {
        color: var(--text-color-muted);
      }
    }
  }
}

.action_list {
  background: var(--bg-color-grey);

  > li {
    margin: 16px;

    > .action {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 12px 16px;
      border-radius: var(--button-radius);
      background-color: var(--bg-color-white);
      transition: transform 0.2s cubic-bezier(0.68, 0.01, 0.62, 0.6), background-color 0.08s linear;

      > span {
        font-size: 24px;
        color: var(--overlay-item-text);
      }
    }

    > .action:active {
      transform: scale(0.95);
      background-color: var(--button-active);
    }
  }
}
