.tabs_wrapper {
  position: relative;

  .tabs {
    position: relative;

    .tabs_nav {
      position: sticky;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      color: var(--text-color-black);
      background: var(--bg-color-grey);
      z-index: 1;

      > li {
        flex-grow: 1;
        flex-shrink: 0;
        font-size: 16px;
        padding: 12px 0;

        &.selected {
          position: relative;
          font-weight: bold;
          color: var(--theme-color-blue);
        }
      }
    }

    .indicator {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 4px;
      border-radius: 10px 10px 0 0;
      background: var(--tabs-indicator-bg);
      z-index: 2;
      transition: all 250ms;
    }
  }
}
