.barChart {
  .topItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    .sign {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 0;
      flex-shrink: 0;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: var(--tag-bg);
    }

    .bar_wrapper {
      margin-left: 8px;
      flex-grow: 1;
      flex-shrink: 1;

      .bar_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color-black);
      }

      .bar {
        position: relative;
        height: 8px;
        border-radius: 4px;
        margin-top: 4px;
        background: var(--bar-bg);
        overflow: hidden;

        .bar_inner {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 42px;
          background-color: var(--theme-color-green);
        }
      }
    }
  }
}
