.titleWrapper {
  height: 48px;
  background-color: var(--bg-color-white);
  position: relative;

  .title {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-black);
  }
}

.lineChartWrapper {
  background-color: var(--bg-color-white);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .lineChart {
    width: 440%;
    height: 25vh;
  }
}
