.titleWrapper {
  height: 48px;
  margin-top: 16px;
  background-color: var(--bg-color-white);
  position: relative;

  .title {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color-black);
  }
}

.pieChartWrapper {
  background-color: var(--bg-color-white);

  .pieChart {
    height: 35vh;
    max-height: 300px;
    background-color: var(--bg-color-white);
  }
}
