.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--overlay-mask-bg);

  &_inner {
    width: 80vw;
    background: var(--bg-color-grey);

    .actions {
      display: flex;
      justify-content: space-between;

      > .actionCancel,
      .actionSubmit {
        width: calc(50% - 8px);
      }

      > .actionCancel {
        border: none;
        color: var(--text-color-black);
        background: var(--bg-color-white);
      }
    }
  }
}
