/* 使用 Google Fonts API 引入字体 */
@import url("https://fonts.googleapis.com/css?family=Noto Sans Simplified Chinese");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 使用 Noto Sans Simplified Chinese 字体，无衬线
  font-family: "Noto Sans Simplified Chinese", sans-serif;
  /* 消除点击或长按后的蓝色背景框 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--text-color-black);
  background: var(--bg-color-grey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  font: inherit;
}
