:root {
  --theme-color-green: #00d09c;
  --theme-color-red: #ff585d;
  --theme-color-blue: #5367ff;
  --theme-color-yellow: #ffb61b;
  --theme-color-pink: #f360f3;
  --bg-color-grey: #edeff3;
  --bg-color-white: #ffffff;
  --bg-color-hover: #e5e8ed;
  --text-color-black: #44475b;
  --text-color-white: #ffffff;
  --text-color-muted: #666666;
  --subText-color-black: #7c7e8c;
  --error-color: var(--theme-color-red);
  --app-name-text: var(--theme-color-green);
  --welcome-bg: var(--bg-color-grey);
  --welcome-card-bg: var(--bg-color-white);
  --welcome-button-hover: var(--bg-color-hover);
  --welcome-card-text-black: var(--text-color-black);
  --welcome-card-text-red: var(--theme-color-red);
  --welcome-card-text-green: var(--theme-color-green);
  --welcome-card-text-blue: var(--theme-color-blue);
  --welcome-card-text-yellow: var(--theme-color-yellow);
  --welcome-card-text-pink: var(--theme-color-pink);
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;
  --z-index-navbar: 32;
  --transition-duration: 0.5s;
  --mainLayout-bg: var(--bg-color-grey);
  --button-bg-normal: var(--theme-color-green);
  --button-bg-important: var(--theme-color-yellow);
  --button-bg-danger: var(--theme-color-red);
  --button-border-color: #7c7e8c;
  --button-text: var(--text-color-white);
  --button-font-size: 18px;
  --button-radius: 10px;
  --button-height: 48px;
  --float-button-text: var(--text-color-white);
  --float-button-bg: var(--theme-color-green);
  --navbar-bg: var(--theme-color-green);
  --navbar-text: var(--text-color-white);
  --top-safe-area-height: 24px;
  --overlay-mask-bg: rgba(0, 0, 0, 0.7);
  --overlay-bg: var(--bg-color-grey);
  --overlay-user-bg: var(--theme-color-green);
  --overlay-user-text: var(--text-color-white);
  --overlay-item-text: var(--text-color-black);
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --date-text: var(--text-color-black);
  --amount-text: var(--theme-color-green);
  --inputPad-text: var(--text-color-black);
  --inputPad-border: var(--bg-color-grey);
  --inputPad-button-bg: var(--bg-color-white);
  --inputPad-delete-bg: var(--theme-color-red);
  --inputPad-delete-text: var(--text-color-white);
  --inputPad-submit-bg: var(--theme-color-green);
  --inputPad-submit-text: var(--text-color-white);
  --input-min-height: 48px;
  --input-border-color: #ffffff;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0, 0, 0, 0.25);
  --emoji-nav-text: var(--subText-color-black);
  --emoji-nav-text-selected: var(--text-color-black);
  --tag-bg: var(--bg-color-white);
  --tag-selected-bg: #77e0c8;
  --tag-selected-border: var(--theme-color-green);
  --total-bg: var(--bg-color-white);
  --total-text: var(--text-color-black);
  --total-expenses: var(--theme-color-red);
  --total-income: var(--theme-color-green);
  --total-balance: var(--theme-color-blue);
  --list-tag-text: var(--text-color-black);
  --list-amount-text: var(--amount-text);
  --list-time-text: var(--subText-color-black);
  --dialog-header-text: var(--text-color-white);
  --bar-bg: #cccccc;
}
