:root {
  --theme-color-start: #1fd4af;
  --theme-color-end: #1ecc94;
  --welcome-bg: #edeff3;
  --welcome-card-bg: #fff;
  --welcome-button-hover: #e5e8ed;
  --welcome-text-black: #3b3c3c;
  --welcome-card-text-blue: #2c46f1;
  --welcome-card-text-pink: #f360f3;
  --welcome-card-text-yellow: #ff9900;
  --welcome-card-text-red: #ff0052;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 10;
  --transition-duration: 0.5s;
}
