:root {
  --theme-color-start: #1fd4af;
  --theme-color-end: #1ecc94;
  --theme-color: linear-gradient(
    to bottom,
    var(--theme-color-start) 0%,
    var(--theme-color-end) 100%
  );
  --welcome-bg: #edeff3;
  --welcome-card-bg: #fff;
  --welcome-button-hover: #e5e8ed;
  --welcome-text-black: #3b3c3c;
  --welcome-card-text-red: #ff0052;
  --welcome-card-text-green: #1fd4af;
  --welcome-card-text-blue: #1677ff;
  --welcome-card-text-yellow: #ff9900;
  --welcome-card-text-pink: #f360f3;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --z-index-bottom-nav: 8;
  --z-index-overlay: 16;
  --transition-duration: 0.5s;
  --mainLayout-bg: #edeff3;
  --button-bg: var(--theme-color);
  --button-text: #fff;
  --button-font-size: 18px;
  --button-radius: 8px;
  --button-height: 48px;
  --float-button-text: #fff;
  --float-button-bg: var(--theme-color);
  --navbar-bg: var(--theme-color);
  --navbar-text: #fff;
  --top-safe-area-height: 24px;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-bg: #edeff3;
  --overlay-user-bg: var(--theme-color);
  --overlay-user-text: #fff;
  --overlay-item-text: #3b3c3c;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --inputPad-button-bg: #fff;
  --inputPad-button-border: #edeff3;
  --date-text: #3b3c3c;
  --amount-text: #1fd4af;
}
